# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache

# Virtual environments
venv/
env/
.virtualenvs/
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database files
*.log
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Python package distribution files
dist/
build/
*.egg-info/
*.egg
*.manifest
*.spec

# IDEs and editors
.vscode/
.idea/
*.iml
*.sublime-workspace

# Testing and coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/